@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}
@theme {
  /* Configure your theme variables here */
  --font-display: "Poppins", "sans-serif";
  --primary-color: #d62828;
  --color-orange: #f77f00;
  --color-yellow: #fcbf49;
  --secondary-color: #003049;
  --spacing: 0.25rem;
  --color-white: #fff;
}
.appLogo {
  fill: var(--primary-color);
}
